body
{
	margin:0;
	padding:0;
	font-family:sans-serif;
	color:#333;
}
h1
{
	font-size:1.2em;
}
.table
{
	display:table;
}
.row
{
	display:table-row;
}
.cell
{
	display:table-cell;
}
.top
{
	vertical-align:top;
}
.wide
{
	width:100%;
}
#pageHeader
{
	padding:10px 20px;
	background:#333;
}
#pageHeader a
{
	color:#eee;
	text-decoration:none;
	font-size:1.5em;
	font-family:'Arima Madurai', cursive;
	font-weight:lighter;
	border:0px solid #eee;
}
#pageHeader a:hover
{
	color:#fff;
	border-bottom-width:2px;
}
#pageHeader img
{
	height:30px;
	width:30px;
}
#pageHeader table
{
	border-spacing:10px 0px;
}
#sideBar
{
	background: #f9f9f9;
	border-right: 1px solid #e6e6e6;
	box-shadow: 2px 2px 10px 0px #e6e6e6;
	overflow-y:auto;
	padding-top:10px;
	width:240px;
}
#sideBarParent
{
	width:240px;
}
#sideBar a
{
	text-decoration:none;
	color:inherit;
}
#collapseSideBar
{
	text-align:right;
	font-size:1.5em;
	margin-right:10px;
	cursor:pointer;
}
#expandSideBar
{
	position:fixed;
	left:0px;
	border-width:0 2px 2px 0;
	border-style:solid;
	border-color:#333;
	border-radius:0 0 7px 0;
	cursor:pointer;
	background-color: #f9f9f9;
	z-index:5;
	font-size:1.5em;
	padding:0 10px;
}
.navlink
{
	margin-left:10px;
	white-space:nowrap;
	font-size:1.0em;
	cursor:pointer;
	padding:10px;
}
.navlink:hover, .navlink.selected
{
	background:#333 !important;
	color:#eee !important;
}
.sublink
{
	font-size:0.8em;
	margin-left:20px;
}
#pageContent
{
	padding:20px 40px;
	font-weight:300;
	line-height:1.5em;
	overflow-y:auto;
	overflow-x:auto;
}
#pageContent a
{
	color:#336699;
	text-decoration:none;
	cursor:pointer;
}
#pageContent a:hover
{
	text-decoration:underline;
}
